#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(../assets/imgs/bg-mario.jpg);
    background-size: cover;

}

.crisDev {
    position: absolute;
    top: -90px;
    right: 0;
    width: 100%;
    width: 250px;
}

.crisDevLogo {
    max-width: 50px;
    width: 100%;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
}


.login_header h1 {
    color: #111;
    font-size: 2em;
}

.footerCris {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login_input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button {
    background-color: #b9f818ec;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

#footer {
    background-color: #ccc;
    bottom: 0;
    left: 0;
    height: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer h2,
h2 strong {
    font-family: sans-serif !important;
    font-size: 1em;
    font-weight: 500;

}

#footer a:hover {
    color: #fff;
}